@import "shared/styles/imports/variables.css";
@import "shared/styles/imports/custom-medias.css";

.gatsbyHighlight .preCustom {
  width: 60%;
  margin: auto;
  outline: none;
  background: var(--color-syntax-highlighter-background);
  border-radius: 2px;

  /* & :global(.keyword) {
        color: red;
    } */
}

@media (--layout-lte-small) {
  .gatsbyHighlight .preCustom {
    width: 100%;
  }
}
