@import "shared/styles/imports/variables.css";
@import "shared/styles/imports/custom-medias.css";

.hidden {
    display: none;
}

.container {
    width: 100vw;
    z-index: 3;
    padding: 25px;
    display: flex;
    justify-content: center;
    background: var(--color-yellow);
    color: var(--color-dark-blue);
    font-family: var(--typography-text-font);
    font-size: var(--typography-text-size-small);
    text-align: justify;

    & .iconContainer {
        flex: 0 0 26px;

        & svg {
            width: 100%;
        }
    }

    & .wrapContainer {
        padding: 0 13px;
        display: flex;
        align-items: center;

        & .textContainer strong {
            margin-right: 5px;
        }
    }

    & .closeButtonContainer {
        display: flex;
        flex: 0 0 16px;
        align-items: center;

        & svg {
            width: 100%;
            transition: opacity var(--transition-button-duration) ease;

            &:hover {
                opacity: 0.4;
                cursor: pointer;
            }
        }
    }
}

@media (--layout-lte-small) {
    .container {
        font-size: var(--typography-text-size-xsmall);

        & .closeButtonContainer {
            align-items: flex-start;
        }
    }
}
