@import "shared/styles/imports/variables.css";
@import "shared/styles/imports/custom-medias.css";

.container {
  position: relative;
  width: 100%;
  max-height: 90vh;
  z-index: 3;
  overflow: hidden;
  display: flex;
  justify-content: center;
  background: var(--color-menu-dark-blue);
  color: var(--color-white);

  & .content {
    position: relative;
    width: var(--container-width);
    max-width: var(--max-container-width);
    padding: 7% 0 0 0;

    &.active {
      & .message {
        opacity: 1;
        transition-delay: 2300ms;
      }

      &.messageClosed {
        & .message {
          opacity: 0;
          transition-delay: 0s;
        }
      }
    }

    & .toggle {
      position: absolute;
      bottom: 8%;
    }

    & h1 {
      font-weight: var(--typography-text-weight-semibold);
      text-align: center;
      line-height: var(--line-height-large);
    }

    & .sectionDescription {
      width: 100%;
      margin-bottom: 3%;
      display: flex;
      justify-content: center;

      & p {
        width: 60%;
        font-weight: var(--typography-text-weight);
        text-align: center;
        line-height: var(--line-height-medium);
      }
    }
  }

  & .toastContainer {
    margin-top: calc(var(--navbar-desktop-height) + 3px);

    & .error {
      background-color: var(--color-error);
    }
  }
}

@media (max-height: 800px) {
  .container {
    max-height: unset;
  }
}

@media (--layout-lte-small) {
  .container {
    max-height: unset;

    & .content {
      width: var(--container-width-mobile);

      & .sectionDescription p {
        width: 90%;
      }

      & .toggle {
        bottom: calc(3% + 30px);
      }
    }
  }
}
