@import "shared/styles/imports/variables.css";

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-dark-blue);
    color: var(--color-white);

    & .content {
        width: var(--container-width);
        padding: 10% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        & h1 {
            font-weight: var(--typography-text-weight-bold);
            text-align: center;
            line-height: var(--line-height-large);
        }

        & .sectionDescription {
            width: 100%;
            display: flex;
            justify-content: center;

            & p {
                width: 60%;
                font-size: var(--typography-text-size);
                font-weight: var(--typography-text-weight);
                line-height: var(--line-height-medium);
            }
        }

        & .socialLinksContainer {
            min-width: 100%;
            margin-top: 35px;
            display: flex;
            flex-direction: column;

            & > * {
                width: 100%;
            }

            & p {
                margin-bottom: 25px;
            }

            & .socialLinks {
                display: flex;
                justify-content: center;

                & > * {
                    margin: 0 15px;
                }
            }
        }
    }
}
