@import "shared/styles/imports/variables.css";

.command {
    margin-top: 75px;

    &:first-child {
        margin-top: unset;
    }

    & .title {
        color: var(--color-syntax-highlighter-background);
        font-weight: var(--typography-text-weight-semibold);
    }

    & .desc {
        line-height: var(--line-height-small);
    }

    & .note {
        margin-top: 15px;
        line-height: var(--line-height-small);
    }
}
