@import "shared/styles/imports/variables.css";
@import "shared/styles/imports/custom-medias.css";

.localesBar {
  padding: 20px 0 25px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: var(--typography-text-size-small);
  transition: all var(--transition-default-duration) ease;

  & a {
    margin-top: 5px;
    padding: 0 7px;
    border-right: 1px solid var(--color-blue-dark-shade);
    color: var(--color-blue-dark-shade);
    text-decoration: none;

    &:last-child {
      border-right: 0;
    }

    &:hover {
      color: var(--color-white);
    }

    &.active {
      color: var(--color-yellow);
    }
  }
}

@media (--layout-lte-small) {
  .localesBar {
    display: none;
  }
}
