@import "shared/styles/imports/variables.css";
@import "shared/styles/imports/custom-medias.css";

.featureItem {
  width: calc(25% - 25px);
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;

  & .image {
    width: 70%;
    margin-bottom: 15px;
  }

  & .title {
    font-weight: var(--typography-text-weight-semibold);
    line-height: var(--line-height-small);
  }

  & .description {
    font-size: var(--typography-text-size-small);
    font-weight: var(--typography-text-weight);
    line-height: var(--line-height-xsmall);
  }
}

@media (--layout-lte-medium) {
  .featureItem {
    width: calc(33.3% - 25px);
  }
}

@media (--layout-lte-small) {
  .featureItem {
    width: calc(50% - 15px);
  }
}

@media (--layout-lte-xsmall) {
  .featureItem {
    width: 100%;
    padding: 0 30px;
  }
}
