@import "shared/styles/imports/variables.css";
@import "shared/styles/imports/custom-medias.css";

.featureItem {
  width: calc(25% - 25px);
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &:nth-child(4n),
  &:last-child {
    margin-right: unset;
  }

  &:nth-child(n+5) {
    margin-top: 50px;
  }

  & .image {
    width: 70%;
    margin-bottom: 15px;
  }

  & .title {
    font-weight: var(--typography-text-weight-semibold);
    line-height: var(--line-height-small);
  }

  & .description {
    font-size: var(--typography-text-size-small);
    font-weight: var(--typography-text-weight);
    line-height: var(--line-height-xsmall);
  }
}

@media (--layout-lte-medium) {
  .featureItem {
    margin-top: 50px;
  }
}

@media (--layout-medium) {
  .featureItem {
    width: calc(33.3% - 25px);

    &:nth-child(4n) {
      margin-right: 25px;
    }

    &:nth-child(3n),
    &:last-child {
      margin-right: unset;
    }

    &:nth-child(-n+3) {
      margin-top: unset;
    }
  }
}

@media (--layout-lte-small) {
  .featureItem {
    width: calc(50% - 15px);
    margin-right: 15px;

    &:nth-child(even) {
      margin-right: unset;
    }

    &:nth-child(-n+2) {
      margin-top: unset;
    }
  }
}
