@import "shared/styles/imports/variables.css";

:root {
  --color-light-blue-transparency: rgba(89, 229, 255, 0.4);
}

.pill {
  padding: 10px 25px;
  border: 1px solid var(--color-light-blue-transparency);
  border-radius: 22px;
  transition:
    border-color var(--transition-default-duration) ease-in-out,
    background-color var(--transition-default-duration) ease-in-out;

  &:hover {
    border-color: var(--color-light-blue);
    cursor: pointer;
  }

  & span {
    opacity: 0.8;
    font-size: var(--typography-text-size-mobile);
    line-height: 22px;
  }

  &.active {
    border-color: var(--color-light-blue);
    background-color: var(--color-light-blue);

    & span {
      color: var(--color-dark-blue);
    }
  }
}
