@import "shared/styles/imports/variables.css";
@import "shared/styles/imports/custom-medias.css";

.container {
    width: 100%;

    & .serviceWorker {
        position: relative;
        z-index: 3;
    }
}
