/* ==========================================================================
   Colors
   ========================================================================== */

/*
   See: https://davidwalsh.name/sass-color-variables-dont-suck
        http://chir.ag/projects/name-that-color
*/

:root {
  --color-white: #fff;
  --color-black: #000;
  --color-grey: #444;
  --color-yellow: #fdd52d;
  --color-yellow-hover: #feda7b;
  --color-dark-blue: #0b1632;
  --color-menu-dark-blue: #0e204c;
  --color-light-blue: #59e5ff;
  --color-light-grey: #f5f6fd;
  --color-syntax-highlighter-background: #122147;
  --color-accordion-buttons: #17264d;
  --color-hex-svg-fill: #c6c9e2;
  --color-text-footer: #aab2b9;
  --color-blue-dark-shade: #757b8f;
  --color-twitter: #3b559a;
  --color-twitter-hover: #3c5ae8;
  --color-github: #102b6e;
  --color-github-hover: #1130bc;
  --color-error: #ea5037;

  --color-menu-dark-blue-opacity: rgba(14, 32, 76, 0.9);
  --color-dark-blue-opacity: rgba(11, 22, 50, 0.9);
}

/* ==========================================================================
   Typography
   ========================================================================== */

:root {
  --typography-display-font: "Montserrat", Verdana, sans-serif;
  --typography-text-font: "Montserrat", Tahoma, Verdana, sans-serif;
  --typography-roboto-text-font: "Roboto", sans-serif;
  --typography-text-size-large: 18px;
  --typography-text-size: 15px;
  --typography-text-size-small: 13px;
  --typography-text-size-xsmall: 12px;
  --typography-text-size-mobile: 14px;
  --typography-text-weight-light: 300;
  --typography-text-weight: 400;
  --typography-text-weight-semibold: 600;
  --typography-text-weight-bold: 700;
}

/* ==========================================================================
   Constants
   ========================================================================== */

:root {
  --container-width: 80%;
  --container-width-mobile: 89%;
  --max-container-width: 1440px;
  --accordion-content-width: 79%;
  --transition-default-duration: 300ms;
  --video-ratio: 56.25%;
  --line-height-xsmall: 20px;
  --line-height-small: 24px;
  --line-height-medium: 27px;
  --line-height-large: 48px;
  --nav-bar-desktop-height: 66px;
}
