/* ==========================================================================
   Colors
   ========================================================================== */

/*
   See: https://davidwalsh.name/sass-color-variables-dont-suck
        http://chir.ag/projects/name-that-color
*/

:root {
    --color-white: #fff;
    --color-black: #000;
    --color-grey: #444;
    --color-yellow: #fdd52d;
    --color-yellow-hover: #feda7b;
    --color-dark-blue: #0b1632;
    --color-menu-dark-blue: #0e204c;
    --color-light-blue: #59e5ff;
    --color-light-grey: #f5f6fd;
    --color-syntax-highlighter-background: #122147;
    --color-hex-svg-fill: #c6c9e2;
}

/* ==========================================================================
   Typography
   ========================================================================== */

:root {
    --typography-display-font: "Montserrat", sans-serif;
    --typography-text-font: "Montserrat", sans-serif;
}

/* ==========================================================================
   Constants
   ========================================================================== */

:root {
    --bottom-half-height: 22px;
    --container-width: 89%;
}
