@import "shared/styles/imports/variables.css";

.container {
    width: 100vw;
    text-align: center;
    transition: 500ms ease;

    & a {
        margin-right: 3%;
        color: var(--color-white);
        text-decoration: none;

        &:last {
            margin-right: 0;
        }
    }
}

.default {
    padding: 60px 0 50px 0;
}

.scrolled {
    padding: 30px 0 25px 0;
    background-color: var(--color-white);

    & a {
        color: var(--color-dark-blue);
    }
}
