@import "shared/styles/imports/variables.css";

.youtube {
  position: relative;
  width: 100%;

  /* Use 75% for 4:3 videos */
  height: 0;
  overflow: hidden;
  padding-bottom: 56.23%;
  background: #000;

  & iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
  }

  & .preview {
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0);
      transition: background-color var(--transition-default-duration) ease;
    }

    &:hover::after {
      background-color: rgba(0, 0, 0, 0.3);
    }

    & .thumbnail {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 100%;
      max-width: 100%;
      height: auto;
      z-index: 1;
      margin: auto;
      display: block;
      border: none;
    }

    & .play {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 72px;
      height: 72px;
      z-index: 3;
      margin: -36px 0 0 -36px;
      transform: scale(0.85);
      opacity: 0.85;
      transition: transform var(--transition-default-duration) ease, opacity var(--transition-default-duration) ease;
    }

    &.previewSmall .play {
      width: 44px;
      height: 44px;
      margin: -22px 0 0 -22px;
    }

    &:hover .play {
      transform: scale(1);
      opacity: 1;
    }
  }
}
