@import "shared/styles/imports/variables.css";
@import "shared/styles/imports/custom-medias.css";

.navBar {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--nav-bar-desktop-height);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;

  & .target {
    position: absolute;
    top: 0;
    width: 100%;
  }
}

@media (--layout-lte-small) {
  .navBar {
    position: fixed;
    top: 0;
    bottom: auto;
    height: auto;

    & .target {
      display: none;
    }
  }
}
