@import "shared/styles/imports/variables.css";
@import "shared/styles/imports/custom-medias.css";

:root {
    --typography-menu-text-size: calc(var(--typography-text-size) + 1px);
}

.container {
    position: absolute;
    top: 0;
    width: 100%;
    height: var(--navbar-desktop-height);
    padding: 20px 0;
    background: var(--color-menu-dark-blue);
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.76);
    font-size: var(--typography-menu-text-size);
    text-align: center;
    transition: var(--transition-default-duration) ease;

    & .navbarMenu {
        display: flex;
        justify-content: center;

        & a {
            margin-right: 3%;
            display: flex;
            align-items: center;
            color: var(--color-white);
            text-decoration: none;
            text-transform: uppercase;
            transition: var(--transition-default-duration) ease;

            &:nth-child(4) {
                margin-right: 10px;
            }

            &:hover {
                color: var(--color-yellow);
            }
        }

        & > span {
            margin-top: 2px;
        }
    }
}

.sticky {
    position: fixed;
    top: 0;
}

/* Do not display container when screen is less or equal to 768px */
@media (--layout-lte-small) {
    .container {
        display: none;
    }
}
