@import "./imports/variables.css";
@import "./imports/custom-medias.css";

/* ==========================================================================
   Fonts
   ========================================================================== */

/* ========== Montserrat ========== */

@font-face {
  font-family: "Montserrat";
  font-weight: normal;
  font-style: normal;
  src:
    url("../media/fonts/montserrat/Montserrat-Regular.woff2") format("woff2"),
    url("../media/fonts/montserrat/Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src:
    url("../media/fonts/montserrat/Montserrat-Bold.woff2") format("woff2"),
    url("../media/fonts/montserrat/Montserrat-Bold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src:
    url("../media/fonts/montserrat/Montserrat-SemiBold.woff2") format("woff2"),
    url("../media/fonts/montserrat/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 300;
  font-style: normal;
  src:
    url("../media/fonts/montserrat/Montserrat-Light.woff2") format("woff2"),
    url("../media/fonts/montserrat/Montserrat-Light.woff") format("woff");
}

/* ========== Roboto ========== */

@font-face {
  font-family: "Roboto";
  font-weight: 300;
  font-style: normal;
  src:
    url("../media/fonts/roboto/Roboto-Light.woff2") format("woff2"),
    url("../media/fonts/roboto/Roboto-Light.woff") format("woff");
}

/* ==========================================================================
   Typography Defaults
   ========================================================================== */

body {
  color: var(--color-black);
  font-family: var(--typography-text-font);
  font-size: var(--typography-text-size);
  overflow-wrap: break-word;  /* Break long words by default */
}

::selection {
  background: color(var(--color-black) lightness(25%));
  color: var(--color-white);
}

/* ==========================================================================
  Links
  ========================================================================== */

a {
  color: var(--color-black);
  transition: color var(--transition-default-duration) ease;
}

a:hover {
  color: color(var(--color-black) lightness(25%));
  text-decoration: underline;
}

/* ==========================================================================
  Headings
  ========================================================================== */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-family: var(--typography-display-font);
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.1;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

/* ==========================================================================
  Paragraphs
  ========================================================================== */

p {
  margin-top: 0;
}

@media (--layout-lte-small) {
  body {
    font-size: var(--typography-text-size-mobile);
  }

  h1 {
    font-size: 36px;
  }
}
