@import "shared/styles/imports/variables.css";
@import "shared/styles/imports/custom-medias.css";

:root {
  --player-border-radius: 10px;
}

.talksContainer {
  width: 70%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;

  & .selectedVideo {
    position: relative;
    overflow: hidden;
    border-radius: var(--player-border-radius);
  }

  & .remainingVideosContainer {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (--layout-lte-small) {
  .talksContainer {
    width: 85%;

    & .remainingVideosContainer {
      width: 80%;
      margin: 20px auto;
    }
  }
}

@media (--layout-lte-xsmall) {
  .talksContainer {
    width: 100%;
  }
}
