@import "shared/styles/imports/variables.css";
@import "shared/styles/imports/custom-medias.css";

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    background: var(--color-white);
    color: var(--color-dark-blue);

    & .content {
        width: var(--container-width);
        padding: 10% 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        & h1 {
            font-weight: var(--typography-text-weight-semibold);
            text-align: center;
            line-height: var(--line-height-large);
        }

        & .sectionDescription {
            width: 100%;
            display: flex;
            justify-content: center;

            & p {
                width: 60%;
                font-weight: var(--typography-text-weight);
                line-height: var(--line-height-medium);
            }
        }

        & .featuresContainer {
            margin-top: 5%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }
    }
}

@media (--layout-lte-small) {
    .container .content .sectionDescription p {
        width: 90%;
    }
}
