@import "shared/styles/imports/variables.css";

.switch {
    position: relative;
    width: 60px;
    height: 34px;
    display: inline-block;

    & .slider {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: #ccc;
        cursor: pointer;
        transition: var(--transition-button-duration);

        &::before {
            content: "";
            position: absolute;
            bottom: 4px;
            left: 4px;
            width: 26px;
            height: 26px;
            background-color: var(--color-white);
            transition: var(--transition-button-duration);
        }

        &.active {
            background-color: #2196f3;

            &::before {
                transform: translateX(26px);
            }
        }

        &.round {
            border-radius: 34px;

            &::before {
                border-radius: 50%;
            }
        }
    }
}
