@import "shared/styles/imports/variables.css";

@keyframes fillIn {
    to { stroke-dashoffset: 0; }
}

@keyframes pulse {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.1;
    }

    100% {
        opacity: 1;
    }
}

@keyframes pulseReverse {
    0% {
        opacity: 0.1;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.1;
    }
}

.container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: var(--color-menu-dark-blue);
    color: var(--color-white);

    & .content {
        position: relative;
        width: var(--container-width);
        max-width: var(--max-container-width);
        margin-bottom: -8%;
        padding: 10% 0 0 0;

        & .toggle {
            position: absolute;
            top: 75%;
        }

        & h1 {
            font-weight: var(--typography-text-weight-semibold);
            text-align: center;
            line-height: var(--line-height-large);
        }

        & .sectionDescription {
            width: 100%;
            margin-bottom: 3%;
            display: flex;
            justify-content: center;

            & p {
                width: 60%;
                font-weight: var(--typography-text-weight);
                text-align: center;
                line-height: var(--line-height-medium);
            }
        }

        &.active {
            & svg {
                & g[id="gateway"] {
                    & g[id="_white-connection_"],
                    & g[id="_white-nodes_"],
                    & g[id="_http-gateway-arrow_"] {
                        opacity: 0.3;
                        transition: opacity 500ms ease-in-out;
                        stroke-dasharray: 2;
                    }

                    & g[id="_glow-line-1_"],
                    & g[id="_glow-line-2_"],
                    & g[id="_glow-http-gateway_"] {
                        display: none;
                    }
                }

                & g[id="service-worker"] {
                    & g[id="_yellow-nodes_"] {
                        opacity: 1;
                        transition: opacity 1s ease-in-out;
                        transition-delay: 2s;
                    }

                    & g[id="_browser-service-worker-arrow_"] {
                        opacity: 1;
                        animation: fillIn 3s linear forwards;
                        stroke-dasharray: 1000;
                        stroke-dashoffset: 1000;

                        & polygon:nth-child(3) {
                            opacity: 1;
                            transition: opacity 300ms ease-in-out;
                            transition-delay: 500ms;
                        }
                    }

                    & g[id="_browser-service-worker-arrow-glow_"] {
                        opacity: 1;
                        animation: pulseReverse 3s infinite ease-in-out alternate;
                        animation-delay: 1300ms;
                        transition: opacity 1s ease-in-out;
                        transition-delay: 1300ms;
                    }

                    & g[id="_glow-lines-1-2_"] {
                        opacity: 1;
                        animation: pulseReverse 4s infinite ease-in-out alternate;
                        animation-delay: 1600ms;
                        transition: opacity 300ms ease-in-out;
                        transition-delay: 1600ms;
                    }

                    & g[id="_glow-line-3_"] {
                        opacity: 1;
                        animation: pulseReverse 6s infinite ease-in-out alternate;
                        animation-delay: 1800ms;
                        transition: opacity 300ms ease-in-out;
                        transition-delay: 1800ms;
                    }

                    & g[id="_glow-line-4_"] {
                        opacity: 1;
                        animation: pulseReverse 5s infinite ease-in-out alternate;
                        animation-delay: 2000ms;
                        transition: opacity 500ms ease-in-out;
                        transition-delay: 2000ms;
                    }

                    & g[id="_glow-line-5_"] {
                        opacity: 1;
                        animation: pulseReverse 3s infinite ease-in-out alternate;
                        animation-delay: 2200ms;
                        transition: opacity 800ms ease-in-out;
                        transition-delay: 2200ms;
                    }

                    & g[id="_service-worker-icon_"],
                    & path[id="_service-worker-text_"] {
                        opacity: 1;
                        transition: opacity 1s ease-in-out;
                        transition-delay: 500ms;
                    }

                    & g[id="_yellow-conection_"] {
                        opacity: 1;

                        & path {
                            animation: fillIn 1.5s linear forwards;
                            animation-delay: 1300ms;
                            stroke-dasharray: 1000;
                            stroke-dashoffset: 1000;
                        }
                    }
                }
            }
        }

        & svg {
            width: 140%;

            & g[id="gateway"] {
                & g[id="_white-connection_"],
                & g[id="_white-nodes_"],
                & g[id="_http-gateway-arrow_"] {
                    opacity: 1;
                    transition: opacity 500ms ease-in-out;
                }

                & g[id="_glow-http-gateway_"] {
                    animation: pulseReverse 3s infinite ease-in-out alternate;
                }

                & g[id="_glow-line-1_"] {
                    animation: pulseReverse 5s infinite ease-in-out alternate;
                    animation-delay: 800ms;
                }

                & g[id="_glow-line-2_"] {
                    animation: pulseReverse 4s infinite ease-in-out alternate;
                    animation-delay: 1200ms;
                }
            }

            & g[id="service-worker"] {
                & g[id="_yellow-nodes_"] {
                    opacity: 0;
                    transition: opacity 500ms ease-in-out;
                }

                & g[id="_browser-service-worker-arrow-glow_"],
                & g[id="_glow-line-5_"],
                & g[id="_glow-line-4_"],
                & g[id="_glow-line-3_"],
                & g[id="_glow-lines-1-2_"] {
                    opacity: 0;
                    transition: opacity 500ms ease-in-out;
                }

                & g[id="_service-worker-icon_"],
                & path[id="_service-worker-text_"] {
                    opacity: 0;
                    transition: opacity 500ms ease-in-out;
                }

                & g[id="_browser-service-worker-arrow_"] {
                    opacity: 0;
                    transition: opacity 500ms ease-in-out;

                    & polygon:nth-child(3) {
                        opacity: 0;
                        transition: opacity 500ms ease-in-out;
                    }
                }

                & g[id="_yellow-conection_"] {
                    opacity: 0;
                    transition: opacity 500ms ease-in-out;
                }
            }

            & g[id="ipfs-nodes"] {
                & g[id="_beams-nodes_"],
                & g[id="_beams-nodes_11"] {
                    animation: pulse 6s infinite ease-in-out;
                }

                & g[id="_beams-nodes_2"],
                & g[id="_beams-nodes_4"] {
                    animation: pulse 6s infinite ease-in-out;
                    animation-delay: 1s;
                }

                & g[id="_beams-nodes_3"] {
                    animation: pulse 4s infinite ease-in-out;
                    animation-delay: 1200ms;
                }

                & g[id="_beams-nodes_6"],
                & g[id="_beams-nodes_10"] {
                    animation: pulse 8s infinite ease-in-out;
                    animation-delay: 1500ms;
                }

                & g[id="_beams-nodes_7"],
                & g[id="_beams-nodes_8"] {
                    animation: pulse 6s infinite ease-in-out;
                    animation-delay: 2200ms;
                }

                & g[id="_beams-nodes_5"],
                & g[id="_beams-nodes_9"],
                & g[id="_beams-nodes_12"] {
                    animation: pulse 4s infinite ease-in-out;
                    animation-delay: 1900ms;
                }
            }
        }
    }
}
