@import "shared/styles/imports/variables.css";
@import "shared/styles/imports/custom-medias.css";

.container {
  position: relative;
  width: 100%;
  z-index: 3;
  padding: 10% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--color-dark-blue);
  color: var(--color-white);

  & .content {
    width: var(--container-width);
    max-width: var(--max-container-width);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    & h1 {
      font-weight: var(--typography-text-weight-semibold);
      text-align: center;
      line-height: var(--line-height-large);
    }

    & .sectionDescription {
      width: 100%;
      display: flex;
      justify-content: center;

      & p {
        width: 60%;
        font-weight: var(--typography-text-weight);
        line-height: var(--line-height-medium);
      }
    }
  }

  & .accordion {
    margin-top: 3%;
  }
}

@media (--layout-lte-small) {
  .container .content {
    width: var(--container-width-mobile);

    & .sectionDescription p {
      width: 95%;
    }
  }
}
