@import "shared/styles/imports/variables.css";
@import "shared/styles/imports/custom-medias.css";

.container {
    width: 100%;
    padding: 10% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: var(--color-dark-blue);
    color: var(--color-white);

    & .content {
        width: var(--container-width);
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        & h1 {
            font-weight: var(--typography-text-weight-bold);
            text-align: center;
            line-height: var(--line-height-large);
        }

        & .sectionDescription {
            display: flex;
            justify-content: center;

            & p {
                width: 60%;
                font-size: var(--typography-text-size);
                font-weight: var(--typography-text-weight);
                line-height: var(--line-height-medium);
            }
        }
    }

    & .accordion {
        margin-top: 3%;
    }
}

@media (--layout-lte-small) {
    .container .content .sectionDescription p {
        width: 90%;
    }
}
